<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @artist.name %>! </h1> <br>
<p>
You have just placed your parcel delivery order<br>
<br>
Don't recognize this? Contact Send-it <br>
</p>
</body>
</html>